#map-about-us  {
    width: 100%;
    height: 800px;
}

#our-history {
    background-color: #f2f2f2;
    padding: 0.6em;
}

#our-history .container {
    box-shadow: 0 0 1em rgb(158, 158, 157);
    background-color: #fff;
    border-radius: 8px;
    padding: 1em 1em;
    /* margin: 2em auto; */
}

#our-history h3 {
    margin: 1em auto;
}

#our-history h3 {
    margin: 1em auto;
    font-family: 'Allura';
    font-weight: 500;
}

#our-history h3 {
    margin: 1em auto;
}

.city-container {
    padding: 1em auto;
    margin-top: 1em;
    min-width: 300px;
}

.city-container .city-name {
    font-weight: 600;
}

.city-container .city-img {
    width: 100%;
    max-width: 272px;
    height: auto;
    border-radius: 8px;
}

.city-container .city-description {
    max-width: 272px;
}