/* nav */
.navbar {
  padding: 20px !important;
}
.navbar .nav-link {
  font-size: 2em !important;
}

.navbar .navbar-toggler{
  font-size: 2em !important;
  margin-right: 60px !important; 
}



/* wedding counter */
.wedding-counter .container {
  position: relative;
}

.wedding-counter .container .wedding-counter-box {
  position: absolute;
  right: 0;
  background-color: #fff;
  padding: 15px 15px 10px 15px;
  border-radius: 5px;
  /* margin: 60px 20px; */
}

.wedding-counter .container .wedding-counter-box .wedding-counter-title {
  margin: -15px -15px 20px -15px;
  text-align: center;
  padding: 5px;
  text-transform: uppercase;
  font-weight: 600;
  background-color: #ffcccc;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.wedding-counter .container .wedding-counter-box .wedding-counter-title p {
  margin: 0;
  font-size: 24px;
}

.wedding-counter .container .wedding-counter-box .first-team, .wedding-counter .container .wedding-counter-box .second-team {
  display: inline-block;
}

.wedding-counter .container .wedding-counter-box .wedding-counter-value {
  display: inline-block;
  text-align: center;
  margin: 0 15px;
  vertical-align: top;
  padding-top: 5px;
  font-size: 24px;
}

.wedding-counter-outer {
  display: inline-block;
  margin: 0px 10px;
  text-align: center;
  font-weight: 700;
}

.wedding-counter-label {
  font-weight: 400;
  font-size: 12px;
  margin-top: -5px;
}

.wedding-counter-number {
  text-align: center;
  font-weight: 700;
  margin-bottom: 0px;
}

#home {
  height: auto;
  width: 100%;
  background-image: url('../img/bg-home.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  padding: 60px;
}

#home .main-text {
  margin: 120px 0 240px 0;
  font-family: 'Lato', sans-serif;
}

#home .main-text h1 {
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 48px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 0 10px 0;
}

#home .main-text h3 {
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 45px;
}

#home .main-text a {
  display: inline-block;
  background-color: #2ed573;
  padding: 20px 45px;
  border-radius: 5px;
  font-size: 20px;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}

/* calendar card */
#calendar {
  font-family: 'Poppins', sans-serif;
  position: relative;
  margin-top: -50px;
  width: 300px;
  margin: 0 auto;
}

#calendar .calendar-box {
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 204, 204, 0.2);
  /* opacity: 0.1; */
  display: flex;
  flex-direction: column;
  border-bottom: 0.5rem solid rgba(255, 215, 0, 0.8);
  border-radius: 8px;
  /* box-shadow: 2px 3px rgb(1 1 1 / 15%); */
  backdrop-filter: blur(15px);
  /* width: auto; */
  margin: -40px auto 0 auto;
}

#calendar .calendar-box .calendar-month {
  color: #fff;
  background-color: rgba(255, 215, 0, 0.8);
  width: 100%;
  font-size: 2em;
  text-align: center;
  font-weight: 500;
  padding: 5px 0;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

#calendar .calendar-box .calendar-day {
  color: rgba(255, 215, 0, 0.8);
  font-size: 1.2em;
  font-weight: 400;
  margin-top: 20px;
}

#calendar .calendar-box .calendar-date {
  color: rgba(255, 215, 0, 0.8);
  font-size: 6em;
  font-weight: 600;
  /* margin-top: 20px; */
}

#calendar .calendar-box .calendar-year {
  color: rgba(255, 215, 0, 0.8);
  font-size: 1.2em;
  font-weight: 400;
  /* margin-top: 20px; */
}

#calendar .calendar-box .calendar-hour {
  color: rgba(255, 215, 0, 0.8);
  font-size: 1.2em;
  font-weight: 400;
  margin-top: 10px;
}

#calendar .calendar-box .google-calendar {
  margin: 10px auto;
}

#calendar .calendar-box .google-calendar a{
  color: rgba(255, 215, 0, 0.8);
  font-size: 1.2em;
  font-weight: 400;
}

/* info */
#info {
  position: relative;
  z-index: 3;
  background-color: #ffcccc;
  /* margin-top: -60px; */
}

#info .info-row {
  margin: 10px 0 0 0;
  width: 100%;
}

#info .info-one {
  background-color: #ffcccc;
  padding: 20px;
  margin: 0;
  /* box-shadow: 0 2px 20px -10px rgba(0, 0, 0, 0.3); */
  border-radius: 5px;
  color: #fff;
  text-align: center;
}

#info .info-one h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  margin: 20px 0 15px 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 32px;
}

#info .info-one img {
  margin-right: 20px;
}

#info .info-one p {
  margin: 0;
  text-align: center;
  font-size: 24px;
}

#mapid  {
  height: 600px;
  width: 100%;
}

/* kontakt */

#kontakt {
    position: relative;
    z-index: 3;
    background-color: #ffcccc;
    /* margin-top: -60px; */
}

.kontakt-box {
  background-color: #ffcccc;
  width: 100%;
  color: #fff;
  padding: 10px;
}

.kontakt-box h2 {
  padding: 20px 0;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  font-size: 32px;
}

.kontakt-box p {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 0.2rem !important;
}

.kontakt-box .phone-box {
  margin-bottom: 30px;
  text-align: center;
  
}

.kontakt-box .phone-box p a{
  color: #fff;
}


