/* nav */
body {
  font-family: 'Amatic SC', cursive !important;
}

.navbar {
  font-family: 'Lato', sans-serif;
  padding: 1em 1.4em !important;
}

.navbar .nav-link {
  font-size: 1.6em !important;
}

/* wedding counter */
.wedding-counter {
  padding: 2em 0 0 0;
}

.wedding-counter .container {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.wedding-counter .container .wedding-counter-box {
  /* position: absolute; */
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  /* margin: 60px 20px; */
}

.wedding-counter .container .wedding-counter-box .wedding-counter-title {
  margin: -40px 0px  0px 0px;
  text-align: center;
  padding: 0.3em;
  text-transform: uppercase;
  font-weight: 600;
  background-color: #ffcccc;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.wedding-counter .container .wedding-counter-box .wedding-counter-title p {
  margin: 0;
  font-size: 2.0em;
}

.wedding-counter .container .wedding-counter-box .wedding-counter-value {
  text-align: center;
  vertical-align: top;
  padding: 1em auto;
  font-size: 2.0em;
}

.wedding-counter-outer {
  display: inline-block;
  margin: 0px 10px;
  text-align: center;
  font-weight: 700;
}

.wedding-counter-label {
  font-weight: 500;
  font-size: 0.6em;
  margin-top: -5px;
  margin-bottom: 0px;
}

.wedding-counter-number {
  text-align: center;
  font-weight: 700;
  margin-bottom: 0px;
}

#home {
  height: auto;
  width: 100%;
  min-height: 500px;
  background-image: url('../img/bg-home.jpg');
  background-repeat: no-repeat;
  background-position: center;
  /* background-position: 25% 10%; */
  background-size: cover;
  padding: 2em 0;
}

#home .main-text {
  margin: 0 auto 16em auto;
  text-align: center;
}

#home .main-text h1 {
  font-size: 3.6em;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 0 10px 0;
}

#home .main-text h3 {
  font-size: 2.4em;
  font-weight: 600;
  margin-bottom: 45px;
}

#home .main-text a {
  display: inline-block;
  background-color: #2ed573;
  padding: 20px 45px;
  border-radius: 5px;
  font-size: 2.4em;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}

/* calendar card */
#calendar {
  position: relative;
  margin-top: -50px;
  /* width: 70%; */
  margin: 0 auto;
}

#calendar .calendar-box {
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 204, 204, 0.15);
  /* opacity: 0.1; */
  display: flex;
  flex-direction: column;
  border-bottom: 0.5rem solid rgba(255, 204, 204, 0.99);
  border-radius: 8px;
  /* box-shadow: 2px 3px rgb(1 1 1 / 15%); */
  backdrop-filter: blur(15px);
  /* width: auto; */
  margin: -40px auto 0 auto;
  box-shadow: 0 0 1em rgb(158, 158, 157);
}

#calendar .calendar-box .calendar-month {
  color: #fff;
  background-color: rgba(255, 204, 204, 0.99);
  width: 100%;
  font-size: 3.2em;
  text-align: center;
  font-weight: 700;
  padding: 5px 0;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

#calendar .calendar-box .calendar-day {
  color: rgba(255, 204, 204, 0.99);
  font-size: 2.4em;
  font-weight: 500;
  margin-top: 20px;
}

#calendar .calendar-box .calendar-date {
  color: rgba(255, 204, 204, 0.99);
  font-size: 6em;
  font-weight: 900;
  /* margin-top: 20px; */
}

#calendar .calendar-box .calendar-year {
  color: rgba(255, 204, 204, 0.99);
  font-size: 2.6em;
  font-weight: 500;
  /* margin-top: 20px; */
}

#calendar .calendar-box .calendar-hour {
  color: rgba(255, 204, 204, 0.99);
  font-size: 2.6em;
  font-weight: 500;
  margin-top: 10px;
}

#calendar .calendar-box .google-calendar {
  margin: 10px auto;
  background-color: #ffcccc;
  border-radius: 8px;
  padding: 0.5em 1em
}

#calendar .calendar-box .google-calendar a{
  color: #fff;
  text-decoration: none;
  font-size: 2em;
  font-weight: 600;
}

/* info */
#info {
  position: relative;
  z-index: 3;
  background-color: #ffcccc;
  /* margin-top: -60px; */
}

#info .info-row {
  margin: 10px 0 0 0;
  width: 100%;
}

#info .info-one {
  background-color: #ffcccc;
  margin-top: 2em;
  color: #fff;
  text-align: center;
  align-items: center;
}

#info .info-one h2 {
  font-weight: 600;
  /* margin: 20px 0 15px 0; */
  text-transform: uppercase;
  font-size: 2.4em;
  text-align: center;
}

#info .info-one img {
  margin-right: 20px;
  padding: 0.5em;
  max-width: 60%;
}

#info .info-one p {
  margin: 0;
  font-size: 1.6em;
}

#mapid  {
  height: 500px;
  width: 100%;
}

/* kontakt */



#kontakt {
    position: relative;
    z-index: 3;
    background-color: rgba(255, 204, 204, 0.15);
    /* padding: 20px; */
}

#kontakt h1 {
  text-align: left;
  font-size: 3.2em;
  font-weight: 600;
  margin: 0.5em auto;
  text-transform: uppercase;
}

.kontakt-box {
  /* background-color: rgba(255, 204, 204, 0.15); */
  width: 100%;
  color: #fdb3b3;
 
  /* padding: 10px; */
}

#menu-tables p {
  text-transform: uppercase;
  text-align: left;
  font-size: 1.4em;
  font-weight: 500;
  margin-bottom: 0.2rem !important;
  margin-top: 0.2rem !important;
}

.kontakt-box p {
  text-transform: uppercase;
  /* text-align: center; */
  font-size: 1.8em;
  font-weight: 500;
  margin-bottom: 0.2rem !important;
}

.kontakt-box .phone-box {
  display: flex;
  align-items: center;
  margin: 1em auto;
  /* margin: 20px auto; */
  /* margin-bottom: 30px; */
  /* text-align: center; */
  
}
.kontakt-box .phone-box .phone-box-label{
  color: #fdb3b3;
  margin: auto 10px;
  /* vertical-align: center; */
}

.kontakt-box .phone-box p a{
  color: #fdb3b3;
}

/* gallery  */
#add-photo{
  background-color: #f2f2f2;
  padding: 0.3em;
}

#add-photo .add-photo-box {
  background-color: #fff;
  box-shadow: 0 0 1em rgb(158, 158, 157);
  margin: 0.5em auto;
  padding: 0.4em;
  border-radius: 8px;
  text-align: center;
}

#add-photo .add-photo-box h1 {
  font-size: 4.2em;
  font-weight: 600;
  /* margin-bottom: 0.5em; */
  margin-top: 0.4em;
  /* float: left; */
  text-align: left;
}

#add-photo .add-photo-box p {
  font-size: 2em;
  /* float: left; */
  text-align: left;
}

#add-photo .add-photo-box .add-button {
  font-size: 2em;
  padding: 0.3em 1em;
  font-weight: 600;
  background-color: #ffcccc;
  color: #fff;
  border-radius: 8px;
  border: none;
  margin-top: 1em;
  /* box-shadow: yellow; */
  /* box-shadow: 0 0 1em gold; */
  justify-content: center;
  text-align: center;
  margin: 0.5em auto;
}

#add-photo .add-photo-box .add-button:hover {
  background-color: #fdb3b3;
  color: #fff;
}

#gallery{
  /* display: none; */
  margin: 20px;
  
}

#photo-list, #menu-tables {
  text-align: center;
}

#photo-list h1 {
  text-align: left;
  font-size: 4.2em;
  font-weight: 600;
  margin: 1em auto;
}

#photo-list .photo-list {
  list-style: none;
  padding: 0;
}

#photo-list .photo-list li {
  /* margin: 10px; */
  margin: 10px 0;
}

#photo-list .photo-list li button {
  border: 0;
  padding: 0;
  border-radius: 8px;
}

#photo-list .photo-list li img {
  border-radius: 8px;
}

#menu-tables {
  text-align: center;
}

#menu-tables h1 {
  text-align: left;
  font-size: 2.6em;
  font-weight: 600;
  margin: 0.2em auto;
}

#menu-tables .photo-list {
  list-style: none;
  padding: 0;
}

#menu-tables .photo-list div {
  /* margin: 10px; */
  margin: 10px 0;
}

#menu-tables .photo-list div button {
  border: 0;
  padding: 0;
  border-radius: 8px;
}

#menu-tables .photo-list div img {
  border-radius: 8px;
}


/* Add photo popup */

#add-photo-popup {
  position: fixed;
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  justify-content: center;
  align-items: flex-end;
}

#add-photo-popup::after {
  position: absolute;
  top: 0; bottom: 0; right: 0; left: 0;
  background: rgba(0,0,0,0.6);
  content: '';
  z-index: -1;
}

#add-photo-popup .popup{
  background-color: #ffcccc;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  padding-top: 0.6em;
}

#add-photo-popup .popup .popup-content{
  background-color: #fff;
  padding: 1em;
}

.check-box {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1.2em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.check-box input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #ffeded;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.check-box:hover input ~ .checkmark {
  background-color: #fdb3b3;
}

/* When the radio button is checked, add a blue background */
.check-box input:checked ~ .checkmark {
  background-color: #fdb3b3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.check-box input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.check-box .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

.attach-files {
  margin: 0.5em auto;
  font-size: 1.2em;
}

#add-photo-popup .popup-content h2 {
  font-size: 2.5em;
  font-weight: 600;
}

#add-photo-popup .popup-content p {
  font-size: 1.6em;
}

#add-photo-popup .send-button {
  display: block;
  font-size: 1.8em;
  padding: 0.2em 1.2em;
  font-weight: 600;
  background-color: #ffcccc;
  color: #fff;
  border-radius: 8px;
  border: none;
  justify-content: center;
  text-align: center;
  margin: 0em auto;
}

#add-photo-popup .send-button:hover {
  background-color: #fdb3b3;
  color: #fff;
}


/* loading */
#add-photo-popup .files-loading {
  display: none;
  background-color: #fff;
  padding: 2em;
  text-align: center;
  justify-content: center;
}

#add-photo-popup .files-sent {
  display: none;
  background-color: #fff;
  padding: 2em;
  text-align: center;
  justify-content: center;
}

#add-photo-popup .files-sent h2 {
  font-size: 2.5em;
  font-weight: 600;
}

#other-info {
  background-image: url('../img/map-pic.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  width: 100%;
  height: 300px;
  padding: auto 20em;
}

#other-info .container {
  height: 100%;
}

#other-info .other-info-details{
  height: 100%;
}

#other-info .other-info-details div{
  height: 100%;
  position: relative;
  /* text-align: center;
  margin: auto; */
}

#other-info .other-info-details img {
  /* padding: 2em; */
  /* max-height: 160px; */
  width: 100%;
  height: auto;
  max-height: 180px;
  max-width: 180px;
  min-width: 25%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
} 


.popup-container {
  padding: 1em auto;
  margin-top: 1em;
  max-width: 220px;
}

.popup-container .popup-name {
  font-weight: 600;
}

.popup-container .popup-img {
  width: 100%;
  max-width: 200px;
  height: auto;
  border-radius: 8px;
}

.popup-container .popup-description {
  max-width: 200px;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #ffcccc transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* check mark */
.checkstatus__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkstatus {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 10% auto;
  box-shadow: inset 0px 0px 0px #7ac142;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkstatus__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142;
  }
}

.map-info {
  background-color: #fff;
  padding: 0.5em;
  max-width: 50%;
  border-radius: 5px;
}

@media only screen and (min-width: 600px) {
  #home {
    min-height: 800px;
  }
}

.just-married {
  margin-top: -40px;
  font-weight: 700;
  
}